<html>
<title>ByteMiners</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <!--<a href="#home" class="w3-bar-item w3-button"><b>BR</b> Architects</a>-->
    <a href="default.asp">
        <img src="/images/logo2.png" alt="HTML tutorial" style="width:200px;height:120px;border:0;">
      </a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#projects" class="w3-bar-item w3-button">Proyectos</a>
      <a href="#about" class="w3-bar-item w3-button">Nosotros</a>
    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img class="w3-image" src="/w3images/architect.jpg" alt="Architecture" width="1500" height="800">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>BR</b></span> <span class="w3-hide-small w3-text-light-grey">Architects</span></h1>
  </div>
</header>

<!-- Contenido de la página-->
<div class="w3-content w3-padding" style="max-width:1564px">

  <!--Sección de proyectos -->
  <div class="w3-container w3-padding-32" id="projects">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Proyectos</h3>
  </div>

  <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Proyecto 1</div>
        <img src="/images/proyecto1.png" alt="House" style="width:100%">
      </div>
    </div>
  </div>

  <!-- Sección Nosotros -->
  <div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Nosotros</h3>
    <p>Somos estudiantes del programa educativo Ingeniería en Datos e Inteligencia Organizacional de la Universidad del Caribe. 
        Actualmente cursamos nuestro sexto semestre, por tal motivo tenemos la asignatura de Minería de Datos. 
        El objetivo de este sitio web es fungir como portafolio de evidencias para dicha asignatura. 
        Aquí colocaremos todo el material que desarrollemos en equipo a lo largo del curso.  
    </p>
  </div>

  <div class="w3-row-padding w3-grayscale">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="/images/emmanuelbeltran.jpg" alt="John" style="width:82%">
      <h3>Emmanuel Beltrán Aguilar</h3>
      <p class="w3-opacity">Estudiante IDeIO</p>
      <!--<p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>-->
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="/images/reginaberges.jpg" alt="Jane" style="width:80%">
      <h3>Regina Berges Portillo</h3>
      <p class="w3-opacity">Estudiante IDeIO</p>
      <!--<p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>-->
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="/images/josezavala.jpg" alt="Mike" style="width:80%">
      <h3>José Zavala Barragán</h3>
      <p class="w3-opacity">Estudiante IDeIO</p>
      <!--<p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>-->
    </div>
  </div>


<!-- End page content -->
</div>


<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <p>© 2020 Desarrollado por ByteMiners</a></p>
</footer>

</body>
</html>